.container {
  display: grid;
  grid-template-columns: 30% auto;
}

.color-dark {
  background: #57b3f1;
  font-weight: bold;
  font-size: 20px;
}

.col {
  padding: .4em 1.3em;
  // cursor: pointer;
}

.color-light {
  background: skyblue;
}


input.txt {
  border: 0;
  padding: 1em;
  width: 90%;
  margin-bottom: 2em;
}

input.btn {
  border: 3;
  // display: block;
  padding: 1em 3em;
  background: #57b3f1;//#A5F883;
  color: #003A61;
  margin-bottom: 1em;
  cursor: pointer;
  color: white;
}


.life-container {
  background: #3FA0E1;
  padding: .5em;
  // font-weight: bold;
  // cursor: pointer;
}

select.sel {
  border: 0;
  padding: 1em;
  width: 95%;
  margin-bottom: 2em;
}

input.in {
  border: 0;
  padding: 1em;
  width: 5%;
  margin-bottom: 2em;
  transform: scale(1.5, 1.5);
}

input.op {
  border: 0;
  padding: 1em;
  width: 5%;
  margin-bottom: 2em;
  transform: scale(1.5, 1.5);
}

input.ar {
  border: 3;
  padding: 1em;
  width: 5%;
  margin-bottom: 2em;
  // size: 120%;
  // border: 10px solid grey;
  // background-size: 200%;
  transform: scale(1.5, 1.5);
}

span.n-tasks {
  cursor: pointer;
}

span.t-delete {
  float: right;
  cursor: pointer;
  font-size: 12px;
}
span.t-name {
  margin-right: 20px;
  font-size: 20px;
  width: 70%;
}

input:disabled {
    background: gray;//#dddddd;
    border: 0;
}
