
<!-- <p> {{bla}}</p> -->
<div class="container color-dark">
	<div class="col">
		<p><span class="n-tasks" routerLink ="" >Tasks > </span>
			<span>{{taskName}}</span>
		</p>
	</div>
	<!-- <div class="col" routerLink ="">
		<p>{{taskName}}</p>
	</div> -->
	<div class="col">
		<p>Business Data</p>
	</div>
</div>

<div class="container color-light" [@fieldsx]="taskFields.length">
  <div class="col">
    <p class="life-container" *ngFor="let field of taskFields; let i = index" >
      <span class="t-type">{{field.type}} : </span>
			<span class="t-name">{{field.name}} </span>
			<span class="t-delete" (click)="removeField(i)">   X</span>
    </p>
  </div>

  <div class="col">
		<form>

      <select name="type" class="sel" [(ngModel)]="fieldType" >
         <option value="String" selected>String</option>
         <option value="Integer">Integer</option>
         <option value="Document">Document</option>
         <option value="boolean">Boolean</option>
      </select>
      <input type="text" class="txt" name="item" placeholder="Enter value..." [(ngModel)]="fieldName">
      <input type="checkbox" class="in" name="in" value="ip" [(ngModel)]="inputvar" > Input <br>
      <input type="checkbox" class="op" name="op" value="op" [(ngModel)]="outputvar" > Output <br>
      <input type="checkbox" class="ar" name="ar" value="ar" [(ngModel)]="arrayvar" > Array <br>
      <!-- <input type="checkbox" class="in" name="in" value="ip"> Input <br> -->
  		<input type="submit" class="btn" value="Add field" (click)="addField()" [disabled]="!(fieldName && fieldType)">
			<!-- <input type="submit" class="btn" value="Apply Business Data" (click)="applyBusinessData()" [disabled]="!taskFields.length"> -->


    <!-- <input type="submit" class="btn" [value]="btnText" (click)="addItem()"> -->

		<!-- interpelation -->
		<!-- <input type="submit" class="btn" value="{{btnText}}"> -->

	</form>
	</div>
	<!-- <div class="col">
		<p class="life-container" *ngFor="let goal of goals">
			{{goal}}
		</p>
	</div> -->

</div>
