.container {
  display: grid;
  grid-template-columns: 30% auto;

}

.title-bar {
  background: #006F97;//#57b3f1;
  font-weight: bold;
  font-size: 20px;
}

.col {
  padding: .4em 1.3em;
}

.table {
  background: #8BCFED;//skyblue;
}


input.txt {
  border: 0;
  padding: 1em;
  width: 20%;
  margin-bottom: 2em;
  margin-top: 1em;
}

input.btn {
  border: 3;
  // display: block;
  padding: 1em 3em;
  background: #04B2E0;//#57b3f1;//#A5F883;
  color: white;//#003A61;
  margin-bottom: 1em;
  cursor: pointer;
}


.task-container {
  background: #333333;//#3FA0E1;
  padding: .5em;
  // font-weight: bold;
  // cursor: pointer;
}
span.t-name {
margin-right: 20px;
font-size: 20px;
width: 70%;
}

span.t-delete {
  font-size: 12px;
  cursor: pointer;
  // width: 10%;
  // height: 100%;
  //
  // float: right;
  // background-color: red;
}

span.t-edit {
  font-size: 12px;
  cursor: pointer;
  // background-color: gray;
  // // float: right;
  // width: 10%;
}

span.t-deploy {
  font-size: 12px;
  cursor: pointer;
  // background-color: blue;
  // // float: right;
  // width: 10%;
}

span.t-opts {
  float: right;
}

input:disabled {
    background: #989898;//gray;//#dddddd;
    border: 0;
}
