<!-- <p> {{bla}}</p> -->
<div class="container color-dark">
	<div class="col">
		<p>Tasks</p>
	</div>
	<div class="col">
		<p>Business Data</p>
	</div>
</div>

<div class="container color-light" [@tasksx]="tasks.length">
   <!-- [@tasks]="tasks.length"> -->
  <div class="col">
    <p class="life-container" *ngFor="let task of tasks; let i = index" (click)="enable()">
      <span class="t-name">{{task}} </span><span class="t-edit" routerLink="taskEdit"> Edit</span><span class="t-delete" (click)="removeItem(i)"> Delete</span>
    </p>
  </div>

  <div class="col">
		<form>
      <input type="text" class="txt" name="item" placeholder="New Task..." [(ngModel)]="taskName">
    <!-- <input type="text" class="txt" name="item" placeholder="Life goal..." [(ngModel)]="goalText"> -->
		<!-- property 2-way binding. Requires FormBinding import -->
		<!-- <br> <span> {{goalText}}</span> -->

		<!-- property bingding -->
		<input type="submit" class="btn" [value]="bla" (click)="addTask()">

    <!-- <input type="submit" class="btn" [value]="btnText" (click)="addItem()"> -->

		<!-- interpelation -->
		<!-- <input type="submit" class="btn" value="{{btnText}}"> -->

	</form>
	</div>
	<!-- <div class="col">
		<p class="life-container" *ngFor="let goal of goals">
			{{goal}}
		</p>
	</div> -->

</div>
