.container {
  display: grid;
  grid-template-columns: 30% auto;

}

.color-dark {
  background: #57b3f1;
  font-weight: bold;
}

.col {
  padding: .4em 1.3em;
}

.color-light {
  background: skyblue;
}


input.txt {
  border: 0;
  padding: 1em;
  width: 20%;
  margin-bottom: 2em;
}

input.btn {
  border: 0;
  // display: block;
  padding: 1em 3em;
  background: #57b3f1;//#A5F883;
  color: white;//#003A61;
  margin-bottom: 1em;
  cursor: pointer;
}


.life-container {
  background: #3FA0E1;
  padding: .5em;
  // font-weight: bold;
  cursor: pointer;
}
span.t-name {
margin-right: 20px;
font-size: large;
width: 70%;
}

span.t-delete {
  // width: 10%;
  // height: 100%;
  //
  float: right;
  // background-color: red;
}

span.t-edit {
  // background-color: gray;
  // // float: right;
  // width: 10%;
}

span.t-deploy {
  // background-color: blue;
  // // float: right;
  // width: 10%;
}
