<!-- <p> {{bla}}</p> -->
<div class="container title-bar">

	<div class="col">
		<p>Tasks</p>
	</div>

	<div class="col">
		<!-- <p>Business Data</p> -->
	</div>

</div>

<div class="container table" [@tasksx]="tasktypes.length">

	<div class="col">
    <p class="task-container" *ngFor="let task of tasktypes; let i = index" (click)="enable()">
      <span class="t-name" routerLink="taskEdit/{{task.name}}">{{task.name}}</span>
			<span class="t-opts">
				<!-- <span class="t-edit" routerLink="taskEdit/{{task.name}}"> Edit </span> -->
				<span class="t-deploy" [hidden]="task.taskTypeId != null" (click)="deployTask(task)">Deploy</span>
				<span class="t-deploy" [hidden]="task.taskTypeId == undefined" (click)="deployTask(task)">Re-deploy</span>
				<span class="t-delete" (click)="removeItem(i)">| X</span>
			</span>
    </p>
  </div>

  <div class="col">
		<form>
      <input type="text" class="txt" name="item" placeholder="New Task..." [(ngModel)]="taskName">
  		<input type="submit" class="btn" [value]="bla" (click)="addTask()" [disabled]="!taskName">
		</form>
	</div>

</div>
